<div class="container">
  <form (submit)="submitForm()">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="machineID">Machine ID</label>
          <input type="text" class="form-control" id="machineID" name="machine" [(ngModel)]="data.machineID">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="cameraID">Camera ID</label>
          <input type="text" class="form-control" id="cameraID" name="camera" [(ngModel)]="data.cameraID">
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="realtime" name="option" [value]="1" [(ngModel)]="data.option" class="custom-control-input">
          <label class="custom-control-label" for="realtime">Real Time</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="history" name="option" [value]="2" [(ngModel)]="data.option" class="custom-control-input">
          <label class="custom-control-label" for="history">History</label>
        </div>
      </div>
    </div>
    <div class="row mb-2" *ngIf="data.option == 2">
      <div class="col">
        <p for="day">Day</p>
        <div class="input-group">
          <input class="form-control" name="day" [owlDateTime]="dt1" name="day" [(ngModel)]="data.day" (ngModelChange)="detectSelectedDate($event)"
          />
          <span class="input-group-btn">
            <button type="button" class="btn btn-outline-secondary" [owlDateTimeTrigger]="dt1">
              <i class="material-icons align-middle">date_range</i>
            </button>
          </span>
        </div>
        <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
      </div>
      <div class="col">
        <p for="from">From</p>
        <div class="input-group">
          <input class="form-control" name="from" [owlDateTime]="dt2" name="from" [(ngModel)]="data.from" [min]="data.day" [max]="endDate"
          />
          <span class="input-group-btn">
            <button type="button" class="btn btn-outline-secondary" [owlDateTimeTrigger]="dt2">
              <i class="material-icons align-middle">access_time</i>
            </button>
          </span>
        </div>
        <owl-date-time #dt2 [pickerType]="'timer'"></owl-date-time>
      </div>
      <div class="col">
        <p for="to">To</p>
        <div class="input-group">
          <input class="form-control" name="to" [owlDateTime]="dt3" name="to" [(ngModel)]="data.to" [min]="data.day" [max]="endDate"
          />
          <span class="input-group-btn">
            <button type="button" class="btn btn-outline-secondary" [owlDateTimeTrigger]="dt3">
              <i class="material-icons align-middle">access_time</i>
            </button>
          </span>
        </div>
        <owl-date-time #dt3 [pickerType]="'timer'"></owl-date-time>
      </div>
    </div>

    <div class="row">
      <p class="col-auto">Status
        <button type="button" class="badge btn btn-primary" (click)="addStatus()" [disabled]="statuses.length == 20">More +</button>
      </p>
      <div class="w-100"></div>
      <div class="col-auto mb-2" *ngFor="let status of statuses, let i = index">
        <div class="row">
          <div class="col">
            <input class="form-control" name="statusName{{i}}" [(ngModel)]="status.name" />
          </div>
          <div class="col pl-0">
            <select class="custom-select" [(ngModel)]="status.value" name="statusCode{{i}}">
              <option value="1">1</option>
              <option value="0">0</option>
              <option value=""></option>
            </select>
          </div>
          <div class="col pl-0">
            <button type="button" class="btn btn-danger btn-sm" (click)="removeOneStatus(i)">
              <i class="material-icons align-middle">clear</i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="parameter">Parameter</label>
          <input type="text" class="form-control" id="parameter" name="parameter" [(ngModel)]="data.parameter" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="token">Token</label>
          <textarea class="form-control" id="token" rows="3" name="token" [(ngModel)]="token"></textarea>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" #btn>{{data.option == 1 ? 'Start' : 'Submit'}}</button>
    <!-- <button type="button" class="btn btn-primary" (click)="getTimeSeries()">Get Time Serires</button> -->
  </form>
</div>
